/* Reset de estilos para remover margens e preenchimentos padrão */
body, h1, h2, ul, li {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff; /* Fundo branco */
    font-family: Arial, sans-serif; /* Escolha a fonte desejada */
}

header {
    background-color: rgba(0, 114, 145, 0.8); /* Cor de fundo do menu lateral com 70% de opacidade */
    padding: 20px;
    display: flex;
    align-items: center; /* Alinha verticalmente ao centro */
}

.menu-button {
    background-color: transparent; /* Botão sem fundo */
    border: none; /* Remove a borda */
    cursor: pointer;
}

#menu-icon {
    font-size: 24px;
    color: #fff; /* Cor do ícone do menu */
}

.logo img {
    width: 200px; /* Ajuste o tamanho da logo conforme necessário */
}

.menu {
    background-color: rgba(0, 114, 145, 0.9); /* Cor de fundo do menu lateral com 70% de opacidade */
    color: #fff; /* Cor do texto no menu */
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -250px; /* Inicialmente escondido */
    transition: left 0.3s ease-in-out;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    padding: 10px 0;
    text-align: center;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: background-color 0.3s ease;
}

.menu ul li a:hover {
    background-color: #444; /* Cor de fundo ao passar o mouse */
}

.main {
    margin-left: 250px; /* Deixe espaço para o menu lateral */
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
}

/* Estilizando a tabela */
table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #ddd;
    font-size: 16px;
    overflow-x: auto; /* Adicione rolagem horizontal quando necessário */
}

/* Estilizando as células do cabeçalho */
th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    font-weight: bold; /* Isso deixa o cabeçalho em negrito */
    white-space: nowrap; /* Impede que o texto seja quebrado e ajusta as colunas ao tamanho do texto */
}

/* Estilizando as células de dados */
td {
    border: 1px solid #ddd;
    padding: 10px;
    white-space: nowrap; /* Impede que o texto seja quebrado e ajusta as colunas ao tamanho do texto */
}

/* Estilizando as linhas alternadas */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilizando o hover nas células da tabela */
tr:hover {
    background-color: #ddd;
}

/* Estilos para tornar a tabela responsiva */
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap: break-word;
    white-space: nowrap;
    overflow-x: auto;
}

/* Estilizando a tabela */
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
}

/* Estilizando as células do cabeçalho */
th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    white-space: normal;
}

/* Estilizando as células de dados */
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    white-space: normal;
}

/* Define as larguras das colunas */
th:nth-child(1), td:nth-child(1) {
    width: 10%; /* Largura da coluna LINHA */
}

th:nth-child(2), td:nth-child(2) {
    width: 15%; /* Largura da coluna CÓDIGO */
}

th:nth-child(3), td:nth-child(3) {
    width: 25%; /* Largura da coluna DESCRIÇÃO */
}

th:nth-child(4), td:nth-child(4) {
    width: 10%; /* Largura da coluna QUANTIDADE TOTAL EM ESTOQUE */
}

th:nth-child(5), td:nth-child(5) {
    width: 5%; /* Largura da coluna UNID */
}

th:nth-child(6), td:nth-child(6) {
    width: 8%; /* Largura da coluna PESO FILME */
}

th:nth-child(7), td:nth-child(7) {
    width: 8%; /* Largura da coluna PESO TUBETE */
}

th:nth-child(8), td:nth-child(8) {
    width: 8%; /* Largura da coluna PESO TOTAL BOBINA */
}

th:nth-child(9), td:nth-child(9) {
    width: 8%; /* Largura da coluna BOBINAS POR PISO */
}

th:nth-child(10), td:nth-child(10) {
    width: 8%; /* Largura da coluna ALTURA PISO PALLET */
}

th:nth-child(11), td:nth-child(11) {
    width: 8%; /* Largura da coluna ALTURA MÁXIMA PALLET */
}

th:nth-child(12), td:nth-child(12) {
    width: 10%; /* Largura da coluna BOBINAS TOTAL PALLET */
}

/* Estilizando as linhas alternadas */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilizando o hover nas células da tabela */
tr:hover {
    background-color: #ddd;
}
/* Resto do seu CSS ... */

/* Estilizando o hover nas células da tabela */
tr:hover {
    background-color: #7bfa05b9; /* Cor de fundo quando o mouse passa por cima */
}

/* Estilizando as células quando o mouse passa por cima */
tr:hover td {
    background-color: transparent; /* Define as células para transparente */
    color: #000000; /* Altera a cor do texto para preto */
}

/* Estilizando as células de cabeçalho quando o mouse passa por cima */
tr:hover th {
    background-color: #ddd; /* Cor de fundo quando o mouse passa por cima */
    color: #000000; /* Altera a cor do texto para preto */
}
h1 {
    text-align: center; /* Centraliza horizontalmente */
    color: #007190; /* Cor do texto (azul) */
}