/* Reset de estilos para remover margens e preenchimentos padrão */
body, h1, h2, ul, li, th, td {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff; /* Fundo branco */
    font-family: Arial, sans-serif; /* Escolha a fonte desejada */
}

header {
    background-color: rgba(0, 114, 145, 0.8); /* Cor de fundo do menu lateral com 70% de opacidade */
    padding: 20px;
    display: flex;
    align-items: center; /* Alinha verticalmente ao centro */
}

.menu-button {
    background-color: transparent; /* Botão sem fundo */
    border: none; /* Remove a borda */
    cursor: pointer;
}

#menu-icon {
    font-size: 24px;
    color: #fff; /* Cor do ícone do menu */
}

.logo img {
    width: 200px; /* Ajuste o tamanho da logo conforme necessário */
}

.menu {
    background-color: rgba(0, 114, 145, 0.9); /* Cor de fundo do menu lateral com 70% de opacidade */
    color: #fff; /* Cor do texto no menu */
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -250px; /* Inicialmente escondido */
    transition: left 0.3s ease-in-out;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    padding: 10px 0;
    text-align: center;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: background-color 0.3s ease;
}

.menu ul li a:hover {
    background-color: #444; /* Cor de fundo ao passar o mouse */
}

.main {
    margin-left: 250px; /* Deixe espaço para o menu lateral */
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
}

/* Estilizando a tabela */
table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #ddd;
    font-size: 16px;
    overflow-x: auto; /* Adicione rolagem horizontal quando necessário */
}

/* Estilizando as células do cabeçalho */
th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    font-weight: bold; /* Isso deixa o cabeçalho em negrito */
}

/* Estilizando as células de dados */
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

/* Estilizando as linhas alternadas */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilizando o hover nas células da tabela */
tr:hover {
    background-color: #ddd;
}

/* Estilizando o hover nas células da tabela */
tr:hover {
    background-color: #7bfa05b9; /* Cor de fundo quando o mouse passa por cima */
}

/* Estilizando as células quando o mouse passa por cima */
tr:hover td {
    background-color: transparent; /* Define as células para transparente */
    color: #000000; /* Altera a cor do texto para preto */
}

/* Estilizando as células de cabeçalho quando o mouse passa por cima */
tr:hover th {
    background-color: #ddd; /* Cor de fundo quando o mouse passa por cima */
    color: #000000; /* Altera a cor do texto para preto */
}
h1 {
    text-align: center; /* Centraliza horizontalmente */
    color: #007190; /* Cor do texto (azul) */
}
/* Estilo para cada cartão de informação */
.info-card {
    background-color: #fff; /* Fundo branco */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
}

/* Estilo para os títulos dos materiais */
.info-card strong {
    font-size: 18px;
    color: #007190; /* Cor azul */
    margin-bottom: 10px;
}

/* Estilo para as informações sobre os materiais */
.info-card p {
    margin: 5px 0;
    font-size: 16px;
    color: #333; /* Cor de texto padrão */
}
